# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Data files (if any)
*.csv
*.xls
*.xlsx
